[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"
  included_files = ["netlify/functions/data/**"]

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200